/* 
    Document   : isocube.css
    Created on : 09.08.2011, 11:46:58
    Author     : kay
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

