/*1312493435,169776320*/

form{margin:0;padding:0}
label{cursor:pointer;color:#666;font-weight:bold;vertical-align:middle}
label input{font-weight:normal}
textarea,.inputtext,.inputpassword{border:1px solid #bdc7d8;font-family:"lucida grande",tahoma,verdana,arial,sans-serif;font-size: 11px;padding:3px;-webkit-appearance:none;-webkit-border-radius:0}
select{border:1px solid #bdc7d8;font-family:"lucida grande",tahoma,verdana,arial,sans-serif;font-size: 11px;padding:2px}
.inputtext,.inputpassword{margin:0;padding-bottom:4px}
.inputradio{padding:0;margin:0 5px 0 0;vertical-align:middle}
.inputcheckbox{border:0;vertical-align:middle}
.inputbutton,.inputsubmit{border-style:solid;border-width:1px;border-color:#d9dfea #0e1f5b #0e1f5b #d9dfea;background-color:#3b5998;color:#fff;padding:2px 15px 3px 15px;text-align:center}
.inputsubmit_disabled{background-color:#999;border-bottom:1px solid #000;border-right:1px solid #666;color:#fff}
.inputaux{background:#f0f0f0;border-color:#e7e7e7 #666 #666 #e7e7e7;color:#000}
.inputaux_disabled{color:#999}
.inputsearch{background:#fff url(http://static.ak.fbcdn.net/rsrc.php/v1/yV/r/IJYgcESal33.png) no-repeat left 4px;padding-left:17px}
body{background:#fff;font-size: 11px;font-family:"lucida grande",tahoma,verdana,arial,sans-serif;color:#333;line-height:1.28;margin:0;padding:0;text-align:left;direction:ltr;unicode-bidi:embed}
h1,h2,h3,h4,h5,h6{font-size: 13px;color:#333;margin:0;padding:0}
h1{font-size: 14px}
h4,h5{font-size: 11px}
p{margin:1em 0}
a{cursor:pointer;color:#3b5998;text-decoration:none}
a:hover{text-decoration:underline}
img{border:0}
td,td.label{font-size: 11px;text-align:left}
dd{color:#000}
dt{color:#777}
ul{list-style-type:none;margin:0;padding:0}
abbr{border-bottom:none}
hr{background:#d9d9d9;border-width:0;color:#d9d9d9;height:1px}
.clearfix:after{clear:both;content:".";display:block;font-size:0;height:0;line-height:0;visibility:hidden}
.clearfix{zoom:1}
.datawrap{word-wrap:break-word}
.word_break{display:block;float:left;margin-left:-10px;padding:0}
.img_loading{position:absolute;top:-9999999px}
.aero{opacity:.5}
.column{float:left}
.center{margin-left:auto;margin-right:auto}
#facebook .hidden_elem{display:none !important}
#facebook .invisible_elem{visibility:hidden}
.direction_ltr{direction:ltr}
.direction_rtl{direction:rtl}
.text_align_ltr{text-align:left}
.text_align_rtl{text-align:right}
.DOMControl_placeholder{color:#777}
.no_js .DOMControl_placeholder{color:#000}
body{overflow-y:scroll}
.mini_iframe,.serverfbml_iframe{overflow-y:visible}
.auto_resize_iframe{height:auto}
.pipe{color:#808080;padding:0 3px}
#content{width:auto;padding:0;margin:0}
.profile #content,.home #content,.search #content{min-height:600px}
.UIStandardFrame_Container{width:960px;padding:0;margin:20px auto 0}
.UIStandardFrame_Content{width:760px;float:left;margin:0;padding:0}
.UIStandardFrame_SidebarAds{width:200px;padding:0;margin:0;float:right}
.UIFullPage_Container{width:940px;padding:0 12px;margin:20px auto 0}
.empty_message{font-size: 13px;line-height:17px;padding:20px 20px 50px 20px;text-align:center;background:#f7f7f7}
.see_all{text-align:right}
.standard_status_element{visibility:hidden}
.standard_status_element.async_saving{visibility:visible}
img.tracking_pixel{height:1px;position:absolute;visibility:hidden;width:1px}
#dropmenu_container{display:block;height:0;margin:0 auto;padding:0;position:absolute;width:964px;z-index:300}
.fbx #pageFooter{margin:auto;width:auto}
.hasLeftCol #pageFooter{background-color:#fff;clear:both;margin-left:180px}
#pagefooter{border-top:0}
#pageFooter{color:#737373;font-size: 11px;margin:0 auto;width:980px}
#pageFooter a{text-decoration:none;white-space:nowrap}
#pageFooter a:last-child{margin-right:0}
#pageFooter a:hover{text-decoration:underline}
#contentCurve{background-color:#fff;border-bottom:1px solid #b3b3b3;height:8px;font-size: 1px}
.hasLeftCol #contentCurve{border:1px solid #b3b3b3;border-top:none;position:relative}
#footerContainer{border-top:1px solid #eee;margin-bottom:30px;padding:8px;position:relative}
#footerContainer .navigation{text-align:right}
#pageHead{margin:0 auto;width:980px}
.fbx #pageHead{margin:0;width:auto}
#pageLogo{float:left;margin-left:-6px;z-index:5}
#pageLogo a{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yJ/r/LFbpHitmYm4.png);background-repeat:no-repeat;background-position:-104px -275px;background-color:#3b5998;display:block;height:31px;width:103px}
#pageLogo a:hover,#pageLogo a:focus,#pageLogo a:active{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yJ/r/LFbpHitmYm4.png);background-repeat:no-repeat;background-position:0 -275px;background-color:#4b67a1;outline:none}
#headNav{background-color:#627aad;border:1px solid #1d4088;border-bottom:0;height:30px;margin-left:180px}
#pageNav li{float:left}
#pageNav a{color:#fff;display:block;display:inline-block;font-weight:bold;height:22px;padding:8px 10px 0 10px;text-decoration:none}
#pageNav a:hover,#pageNav a:focus,#pageNav a:active{outline:none;background-color:#6d86b7}
#navAccount{position:relative}
#navAccount.openToggler,.no_js #navAccount:hover{background-color:#fff;border:1px solid #333;border-bottom:0;margin:-1px -1px 0}
#navAccount #navAccountLink{padding-right:16px;zoom:1}
.openToggler #navAccountLink,.no_js #navAccount:hover #navAccountLink{background-color:#fff;color:#333;position:relative;z-index:2}
.openToggler #navAccountLink:hover,.openToggler #navAccountLink:focus,.openToggler #navAccountLink:active,.no_js #navAccountLink:hover{background-color:#fff}
#navAccountLink .accountPulldown{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yJ/r/LFbpHitmYm4.png);background-repeat:no-repeat;background-position:-304px -90px;height:4px;left:5px;position:relative;top:-2px;width:7px}
.openToggler #navAccountLink .dropMenuDivide,.no_js #navAccount:hover #navAccountLink .dropMenuDivide{background:#e0e0e0}
.openToggler #navAccountLink .accountPulldown,.no_js #navAccount:hover #navAccountLink .accountPulldown{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yJ/r/LFbpHitmYm4.png);background-repeat:no-repeat;background-position:-296px -90px}
#navAccount ul{background:#fff;border:1px solid #333;border-bottom:2px solid #2d4486;display:none;margin-right:-1px;margin-top:-1px;min-width:200px;padding:10px 0 5px;position:absolute;right:0;top:100%;z-index:1}
#navAccount.openToggler ul,.no_js #navAccount:hover ul{display:block}
#navAccount ul .logoutButton{display:block}
#navAccount .logoutButton:hover{text-decoration:none}
#navAccount .logoutButton input{width:100%;text-align:left;outline:0}
#navAccount ul a,#navAccount ul .logoutButton input{color:#3a579a;display:block;font-weight:normal;height:auto;padding:4px 10px 5px;white-space:nowrap}
#navAccount ul a:hover,#navAccount ul a:focus,#navAccount ul a:active,#navAccount .logoutButton:hover input,#navAccount .logoutButton input:active,#navAccount .logoutButton input:focus{background:#6d84b4;border-bottom:1px solid #3b5998;border-top:1px solid #3b5998;color:#fff;padding:3px 10px 4px;text-decoration:none}
#navAccount li{display:block;float:none}
#navAccountInfo{border-bottom:1px solid #e0e0e0;min-height:55px;position:relative;margin:5px 4px;padding:0 6px 0 64px}
ul #navAccountInfo a:hover,ul #navAccountInfo a:focus,ul #navAccountInfo a:active{background:none;border:none;color:#3b5998;padding:4px 10px 5px;text-decoration:underline}
#navAccountInfo #navAccountPic{left:-5px;margin:0;position:absolute;top:-9px}
#navAccountInfo #navAccountPic img{width:50px;height:50px}
#navAccount #navAccountName{font-size: 13px;font-weight:bold;margin:0;padding:0 !important}
#navSearch{margin:4px 0 0 4px;width:350px}
#navSearch .uiSearchInput{border:0}
#navSearch .uiSearchInput input{width:315px}
#navSearch .uiTypeahead,#navSearch .uiTypeahead .wrap{border-color:#3b5998;z-index:100}
.home #leftCol{min-height:600px}
.home #rightCol .home_right_column{padding-top:44px}
.home #rightCol .friend_list_right_column_header{text-align:right;height:44px}
.fbJewel{float:left;margin-right:-1px}
#jewelContainer{float:left;position:relative;z-index:4}
#jewelContainer .hasNew,#jewelContainer .openToggler{position:relative}
.fbJewel .jewelCount{background-color:#00376a;-webkit-border-radius:2px;color:#fff;display:none;font-size: 9px;font-weight:bold;padding-bottom:1px;position:absolute;right:-1px;top:-1px;z-index:101}
#jewelContainer .hasNew .jewelCount{display:block}
#jewelContainer .openToggler .jewelCount{display:none}
.fbJewel .jewelCount span{background-color:#f03d25;border:1px solid #dd3822;-webkit-border-radius:2px;border-top:0;display:block;padding:1px 1px 0}
.fbJewel a.jewelButton{display:block;height:31px;text-decoration:none;margin:0 1px;width:24px}
.fbJewel a.jewelButton:active,.fbJewel a.jewelButton:focus,.fbJewel a.jewelButton:hover{background-color:#4b67a1;outline:none;text-decoration:none}
#jewelContainer .openToggler .jewelButton{background-color:#fff !important;border:1px solid #333;border-bottom:0;height:30px;margin:0}
.fbJewelFlyout{background-color:#fff;border:1px solid #333;border-bottom:2px solid #293e6a;left:0;overflow:visible;position:absolute;top:30px;width:330px;z-index:-1}
.fbJewelFlyout .metadata{padding-top:3px}
.fbJewelFlyout ul{padding:4px 0}
.fbJewelFlyout .jewelHighlight .empty{border:none;padding:4px 8px}
.fbJewelFlyout .jewelHighlight li a{color:#333;display:block;padding:4px 8px;text-decoration:none}
.fbJewelFlyout .jewelHighlight li a:hover,.fbJewelFlyout .jewelHighlight li a:active,.fbJewelFlyout .jewelHighlight li a:focus{background-color:#6d84b4 !important;border-bottom:1px solid #3b5998;border-top:1px solid #3b5998;outline:none;padding-top:3px;padding-bottom:3px;text-decoration:none}
.fbJewelFlyout .jewelHighlight a:hover span,.fbJewelFlyout .jewelHighlight a:active span,.fbJewelFlyout .jewelHighlight a:focus span,.fbJewelFlyout .jewelHighlight a:hover div,.fbJewelFlyout .jewelHighlight a:active div,.fbJewelFlyout .jewelHighlight a:focus div,.fbJewelFlyout .jewelHighlight li.selected a,.fbJewelFlyout .jewelHighlight li.selected .timestamp{color:#fff}
.fbJewelFlyout .jewelHighlight li{cursor:pointer;border-top:1px solid #e6e6e6}
.fbJewelFlyout .jewelHighlight li:first-child{border-top:none}
.fbJewelFlyout li.jewelItemNew{background:#eff1f7}
.fbJewelFlyout .jewelLoading{display:block;margin:10px auto}
.fbJewelFlyout .jewelHeader{padding:7px 8px 7px 8px;border-color:#ddd}
.fbJewelFlyout .jewelFooter a{background-color:#f7f7f7;border-top:1px solid #e0e0e0;display:block;font-weight:bold;padding:8px;text-align:center}
.fbJewelFlyout .jewelFooter a:hover,.fbJewelFlyout .jewelFooter a:active,.fbJewelFlyout .jewelFooter a:focus{background-color:#6d84b4;border-top:1px solid #3b5998;color:#fff;outline:none;text-decoration:none}
.fbJewelFlyout .jewelFooter .seeMoreCount{display:none;font-weight:bold;padding:2px 0 0}
.fbJewelFlyout .jewelUnread .seeMoreCount{display:block}
.fbJewelFlyout .jewelFooter a:hover .seeMoreCount,.fbJewelFlyout .jewelFooter a:active .seeMoreCount,.fbJewelFlyout .jewelFooter a:focus .seeMoreCount{color:#e7e7e7}
#fbMessagesJewel a.jewelButton{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yJ/r/LFbpHitmYm4.png);background-repeat:no-repeat;background-position:-255px -235px}
#fbMessagesJewel a.jewelButton:active,#fbMessagesJewel a.jewelButton:focus,#fbMessagesJewel a.jewelButton:hover{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yJ/r/LFbpHitmYm4.png);background-repeat:no-repeat;background-position:0 -307px}
#fbMessagesJewel.hasNew a.jewelButton{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yJ/r/LFbpHitmYm4.png);background-repeat:no-repeat;background-position:-280px -235px}
#fbMessagesJewel.openToggler a.jewelButton{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yJ/r/LFbpHitmYm4.png) !important;background-repeat:no-repeat !important;background-position:-233px -275px !important}
#fbMessagesFlyout{left:25px}
#fbMessagesFlyout li a{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
#fbMessagesFlyout .content{display:block;width:auto}
#fbMessagesFlyout .author{color:#3b5998;font-weight:bold;padding-top:2px;white-space:normal}
#fbMessagesFlyout .preview{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
#fbMessagesFlyout .subject{color:#333}
#fbMessagesFlyout .time{color:#9d9d9d;font-size: 9px}
#fbMessagesFlyout a:hover .author,#fbMessagesFlyout a:hover .preview,#fbMessagesFlyout a:hover .subject,#fbMessagesFlyout a:hover .time{color:#fff}
.noMessages #fbNotificationsJewel{margin-left:25px}
#fbNotificationsJewel a.jewelButton{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yJ/r/LFbpHitmYm4.png);background-repeat:no-repeat;background-position:-267px -147px}
#fbNotificationsJewel a.jewelButton:active,#fbNotificationsJewel a.jewelButton:focus,#fbNotificationsJewel a.jewelButton:hover{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yJ/r/LFbpHitmYm4.png);background-repeat:no-repeat;background-position:-230px -235px}
#fbNotificationsJewel.hasNew a.jewelButton{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yJ/r/LFbpHitmYm4.png);background-repeat:no-repeat;background-position:-267px -179px}
#fbNotificationsJewel.openToggler a.jewelButton{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yJ/r/LFbpHitmYm4.png) !important;background-repeat:no-repeat !important;background-position:-258px -275px !important}
#fbNotificationsFlyout{left:50px}
#fbNotificationsFlyout a:hover .blueName{color:#fff}
#fbNotificationsFlyout .blueName{color:#3b5998;font-weight:bold}
#fbNotificationsFlyout .staticAppIcon{background-position:right;height:16px;width:16px}
#fbNotificationsFlyout .selected .staticAppIcon{background-position:left}
#fbNotificationsFlyout .info{max-width:259px;word-wrap:break-word}
#fbRequestsJewel a.jewelButton{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yJ/r/LFbpHitmYm4.png);background-repeat:no-repeat;background-position:-271px -32px}
#fbRequestsJewel a.jewelButton:active,#fbRequestsJewel a.jewelButton:focus,#fbRequestsJewel a.jewelButton:hover{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yJ/r/LFbpHitmYm4.png);background-repeat:no-repeat;background-position:-267px -115px}
#fbRequestsJewel.hasNew a.jewelButton{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yJ/r/LFbpHitmYm4.png);background-repeat:no-repeat;background-position:-271px -64px}
#fbRequestsJewel.openToggler a.jewelButton{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yJ/r/LFbpHitmYm4.png) !important;background-repeat:no-repeat !important;background-position:-208px -275px !important}
#fbRequestsFlyout ul.jewelItemList{padding-top:4px;padding-bottom:0}
#fbRequestsFlyout li{padding:4px 8px}
#fbRequestsFlyout .jewelHighlight li{padding:0}
#fbRequestsFlyout li.empty,#fbRequestsFlyout .jewelHighlight li.empty{color:#757575;padding:4px 8px 10px 8px}
#fbRequestsFlyout .fbRequestMessageWrapper{white-space:nowrap}
#fbRequestsFlyout .fbRequestMessage{display:inline-block;max-width:169px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
#fbRequestsFlyout .jewelHighlight .title{color:#3b5998}
#fbRequestsFlyout .jewelHighlight .mutualFriends{color:#808080}
#fbRequestsFlyout .jewelHighlight a:hover .title,#fbRequestsFlyout .jewelHighlight a:focus .title,#fbRequestsFlyout .jewelHighlight a:active .title,#fbRequestsFlyout .jewelHighlight a:hover .mutualFriends,#fbRequestsFlyout .jewelHighlight a:focus .mutualFriends,#fbRequestsFlyout .jewelHighlight a:active .mutualFriends{color:#fff}
#fbRequestsFlyout .jewelRequest .jewelRequestContent{padding-top:5px}
#fbRequestsFlyout .title{font-size: 11px}
#fbRequestsFlyout .requestLabel{line-height:12px}
#fbRequestsFlyout .jewelFooter .seeMoreCount{display:block}
.contextual_dialog .generic_dialog_popup{padding-top:9px;position:absolute;width:360px}
.contextual_dialog .arrow{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yf/r/_IKHHfAgFQe.png);background-repeat:no-repeat;background-position:-166px -152px;height:9px;margin-left:25px;margin-top:-2px;position:absolute;top:4px;width:13px}
.contextual_dialog .contextual_dialog_content{background:#fff;border:1px solid #333;border-bottom:2px solid #283e6a;line-height:15px}
.contextual_dialog .contextual_dialog_content div.dialog_loading{background:#fff;border:0}
.contextual_dialog .dialog_title{color:#000;font-size: 11px;padding-bottom:2px;padding:8px 10px 0}
.contextual_dialog .dialog_body{padding:8px 10px}
.contextual_dialog .dialog_buttons{background-color:#f2f2f2;border-top:1px solid #ccc;padding:8px 10px}
.contextual_dialog .dialog_buttons_msg{float:right}
.uiSearchInput{background:#fff;border:1px solid #899bc1;border-top-color:#6484b4;display:inline-block}
.uiSearchInput span{border:0;border-top:1px solid #ededed;display:inline-block;padding:1px 0 2px;position:relative}
.uiSearchInput input{border:0;border-right:1px solid #e5e5e5;margin:0 22px 0 5px;outline:none;padding:1px 5px 2px 0;width:190px}
.uiSearchInput button{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yJ/r/LFbpHitmYm4.png);background-repeat:no-repeat;background-position:-267px -211px;background-color:#fff;border:0;cursor:pointer;display:block;height:19px;padding:0;position:absolute;right:0;top:0;width:22px}
.uiTypeaheadView .basic img{display:block;float:left;padding-right:4px}
.uiTypeahead .uiTypeaheadView .basic .calltoaction{padding:3px}
.uiTypeaheadView .search ul{padding:0}
.uiTypeaheadView .search li{min-height:50px;padding:2px 30px 2px 63px}
.uiTypeaheadView .search li a{outline:none}
.uiTypeaheadView .search li a:hover{text-decoration:none}
.uiTypeaheadView .search img{background-color:#eceff5;display:block;height:50px;left:6px;position:absolute;width:50px}
.uiTypeaheadView .search .text{color:#3b5998;font-weight:bold}
.uiTypeaheadView .search .subtext{font-size: 9px}
.uiTypeaheadView .search .seeMore{color:#3b5998;font-size: 11px;font-weight:bold;padding-bottom:0;padding-right:7px}
.uiTypeaheadView .search .web{padding:2px 15px 2px 6px}
.uiTypeaheadView .search .meta_composer .text{color:#000;font-size: 12px;padding-top:8px}
.uiTypeaheadView .search .meta_composer .category{font-size: 11px}
.uiTypeaheadView .search .meta_composer .rColumn{color:#666;float:right;padding-top:17px}
.uiTypeaheadView .search .question{min-height:14px;padding:3px 30px 3px 6px}
.uiTypeaheadView .search .question .text{display:inline}
.uiTypeaheadView .search .question .subtext{display:inline;margin-left:5px;white-space:nowrap}
.uiTypeaheadView .search .header{background-color:#f2f2f2;border-top-color:#e2e2e2;margin-top:4px;min-height:10px;padding:2px 15px 2px 6px;border-bottom:none}
.uiTypeaheadView .search li:first-child{border-top:none;margin-top:0}
.uiTypeaheadView .search .header .text{color:#000}
.uiTypeaheadView .search .selected.header .text{color:#000 !important}

#bootloader_exVfV { height: 42px; }