/*1312167578,169775558*/

.sp_13dikq{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yi/r/XY1BTEJBstt.png);background-repeat:no-repeat;display:inline-block;height:16px;width:16px}
.sx_2a4741{background-position:-53px -245px}
.selected .sx_2a4741{background-position:-37px -245px}
.sx_f59ab4{background-position:-86px -245px}
.selected .sx_f59ab4{background-position:-70px -245px}
.sx_7a8785{background-position:-119px -245px}
.selected .sx_7a8785{background-position:-103px -245px}
.sx_20953c{width:7px;height:14px;background-position:-493px -245px}
.sx_457cca{width:7px;height:14px;background-position:-493px -260px}
.sx_4b1884{width:8px;height:12px;background-position:-49px -264px}
.sx_fe33b8{width:7px;height:14px;background-position:-493px -275px}
.sx_b3a288{width:7px;height:14px;background-position:-493px -290px}
.sx_184a7f{width:10px;height:14px;background-position:-146px -245px}
.selected .sx_184a7f{background-position:-136px -245px}
.sx_723acb{width:9px;height:14px;background-position:-9px -264px}
.selected .sx_723acb{background-position:-0px -264px}
.sx_d36cb0{width:10px;height:14px;background-position:-167px -245px}
.selected .sx_d36cb0{background-position:-157px -245px}
.sx_8f73c2{background-position:-102px -279px}
.sx_c83e13{background-position:-119px -279px}
.sx_b1aa46{background-position:-136px -279px}
.sx_ee1183{width:15px;background-position:-153px -279px}
.sx_8e18b4{background-position:-0px -279px}
.sx_9f9d52{background-position:-17px -279px}
.sx_4e3904{background-position:-34px -279px}
.sx_77eecc{background-position:-51px -279px}
.sx_6b97cb{width:18px;height:18px;background-position:-18px -245px}
.sx_6b97cb:hover{background-position:-0px -245px}
.sx_358287{background-position:-68px -279px}
.sx_14e4cf{background-position:-85px -279px}
.sx_fcbb63{width:10px;height:9px;background-position:-58px -264px}
.sx_7011e8{width:11px;height:13px;background-position:-178px -245px}
.sx_ac73ff{width:9px;height:13px;background-position:-39px -264px}
.sx_7d33cf{width:9px;height:13px;background-position:-19px -264px}
.sx_88a941{width:9px;height:13px;background-position:-29px -264px}
.sx_dbf5ec{width:500px;height:48px;background-position:-0px -196px}
.sx_7f6c31{width:500px;height:48px;background-position:-0px -147px}
.sx_090192{width:500px;height:48px;background-position:-0px -98px}
.sx_eb8844{width:500px;height:48px;background-position:-0px -49px}
.sx_32bbb5{width:500px;height:48px;background-position:-0px -0px}
.sp_1cxbbk{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yx/r/mWGXq9y45OX.png);background-repeat:no-repeat;display:inline-block;height:14px;width:11px}
.sx_9f064f{width:7px;background-position:-300px -0px}
.sx_8f6845{width:8px;height:16px;background-position:-0px -30px}
.sx_8ff98c{background-position:-36px -15px}
.selected .sx_8ff98c{background-position:-25px -15px}
.sx_f78ffa{width:10px;background-position:-58px -15px}
.selected .sx_f78ffa{background-position:-48px -15px}
.sx_845714{width:12px;background-position:-12px -15px}
.selected .sx_845714{background-position:-0px -15px}
.sx_a46fce{width:9px;height:12px;background-position:-78px -15px}
.selected .sx_a46fce{background-position:-69px -15px}
.sx_5a5b61{width:5px;height:3px;background-position:-88px -15px}
.sx_00ecf0{height:13px;background-position:-9px -30px}
.sx_ef06c9{width:10px;height:13px;background-position:-21px -30px}
.sp_5s2boo{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yf/r/_IKHHfAgFQe.png);background-repeat:no-repeat;display:inline-block;height:13px;width:9px}
.sx_a190b9{width:14px;height:14px;background-position:-100px -152px}
.sx_7f6e9c{width:19px;height:4px;background-position:-66px -147px}
.sx_b4644d{width:10px;height:10px;background-position:-88px -169px}
.sx_1285eb{width:10px;height:10px;background-position:-66px -169px}
.sx_da5133{width:10px;height:10px;background-position:-77px -169px}
.sx_ebe8e8{width:10px;height:10px;background-position:-99px -169px}
.sx_6a2bad{width:13px;height:8px;background-position:-166px -152px}
.sx_97ce23{width:8px;height:14px;background-position:-91px -152px}
.selected .sx_97ce23{background-position:-83px -152px}
.sx_bae997{width:16px;height:16px;background-position:-66px -152px}
.sx_782f2e{width:11px;height:12px;background-position:-16px -180px}
.sx_155171{width:32px;height:32px;background-position:-33px -147px}
.sx_4b9ded{width:32px;height:32px;background-position:-0px -147px}
.sx_b0f087{width:15px;height:15px;background-position:-0px -180px}
.sx_6198f5{width:8px;background-position:-157px -152px}
.sx_006a0a{background-position:-147px -152px}
.sx_768f57{width:11px;background-position:-115px -152px}
.sx_6393c8{background-position:-137px -152px}
.sx_4f4bb3{background-position:-127px -152px}
.sx_633c79{height:5px;background-position:-180px -152px}
.sx_a7490e{width:500px;height:48px;background-position:-0px -98px}
.sx_a5fe47{width:500px;height:48px;background-position:-0px -49px}
.sx_0ef9ce{width:500px;height:48px;background-position:-0px -0px}
.sp_7lntzp{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yV/r/3bkfZsORIfK.png);background-repeat:no-repeat;display:inline-block;height:31px;width:24px}
.sx_e4a80d{width:16px;height:16px;background-position:-287px -15px}
.selected .sx_e4a80d{background-position:-271px -15px}
.sx_aad694{width:11px;height:11px;background-position:-88px -307px}
.selected .sx_aad694{background-position:-77px -307px}
.sx_6fbb99{width:11px;height:11px;background-position:-282px -96px}
.selected .sx_6fbb99{background-position:-271px -96px}
.sx_0266c4{width:11px;height:11px;background-position:-65px -307px}
.selected .sx_0266c4{background-position:-54px -307px}
.sx_2fce72{width:7px;height:12px;background-position:-304px -15px}
.sx_eb7331{width:7px;height:7px;background-position:-294px -96px}
.sx_3ce870{width:28px;height:24px;background-position:-283px -275px}
.sx_168595{width:28px;height:24px;background-position:-25px -307px}
.sx_c1bb3d{width:20px;height:24px;background-position:-0px -243px}
.sx_e825d6{width:11px;height:14px;background-position:-300px -0px}
.sx_1f22fc{width:22px;height:25px;background-position:-115px -339px}
.sx_87188e{width:22px;height:25px;background-position:-92px -339px}
.sx_801697{width:21px;height:25px;background-position:-160px -339px}
.sx_6b5a52{width:21px;height:25px;background-position:-138px -339px}
.sx_700800{width:22px;height:25px;background-position:-69px -339px}
.sx_28f845{width:22px;height:25px;background-position:-0px -339px}
.sx_e131bc{width:7px;height:14px;background-position:-0px -213px}
.sx_3d621e{width:7px;height:14px;background-position:-0px -183px}
.sx_fc57b5{width:14px;height:14px;background-position:-296px -48px}
.sx_4cc229{width:8px;height:12px;background-position:-296px -77px}
.sx_d02cb7{width:17px;height:16px;background-position:-292px -115px}
.sx_04cb57{width:7px;height:14px;background-position:-0px -153px}
.sx_eba6a6{width:7px;height:14px;background-position:-0px -123px}
.sx_6012be{width:11px;height:12px;background-position:-0px -23px}
.sx_c28da0{width:22px;height:25px;background-position:-23px -339px}
.sx_c5d210{width:22px;height:25px;background-position:-46px -339px}
.sx_250096{width:16px;height:16px;background-position:-292px -132px}
.sx_0f092c{width:10px;height:15px;background-position:-296px -32px}
.sx_3e5b3c{background-position:-267px -147px}
.sx_4d2062{background-position:-267px -115px}
.sx_37a75b{height:30px;background-position:-208px -275px}
.sx_e05b39{background-position:-271px -64px}
.sx_e1aefc{background-position:-271px -32px}
.sx_efcfb9{background-position:-267px -179px}
.sx_073309{height:29px;background-position:-258px -275px}
.sx_e23ad4{background-position:-230px -235px}
.sx_e1e12f{background-position:-255px -235px}
.sx_84f73b{background-position:-280px -235px}
.sx_bf291f{height:30px;background-position:-233px -275px}
.sx_df8e89{background-position:-0px -307px}
.sx_11424b{width:7px;height:4px;background-position:-296px -90px}
.sx_c6b4ae{width:7px;height:4px;background-position:-304px -90px}
.sx_e3c89d{width:103px;background-position:-0px -275px}
.sx_d76012{width:103px;height:30px;background-position:-104px -275px}
.sx_fcbabd{width:9px;height:13px;background-position:-296px -63px}
.sx_0fdf2f{width:22px;height:19px;background-position:-267px -211px}
.sp_82bsig{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yi/r/lmvpOxeb98v.png);background-repeat:no-repeat;display:inline-block;height:16px;width:16px}
.sx_8b09e5{height:10px;background-position:-153px -137px}
.sx_c59b3b{width:11px;height:11px;background-position:-4px -8px}
.sx_210624{width:17px;height:17px;background-position:-37px -118px}
.sx_2b0aac{width:4px;height:8px;background-position:-191px -54px}
.sx_881014{width:4px;height:8px;background-position:-191px -45px}
.sx_c2cb51{width:4px;height:8px;background-position:-191px -36px}
.sx_b32e06{width:4px;height:8px;background-position:-191px -27px}
.sx_d7a505{width:18px;height:18px;background-position:-18px -118px}
.sx_d7a505:hover{background-position:-0px -118px}
.sx_e726e7{width:13px;height:14px;background-position:-0px -171px}
.sx_103c51{height:14px;background-position:-102px -137px}
.sx_9e7bcc{background-position:-0px -137px}
.sx_295a3d{background-position:-175px -118px}
.sx_e13010{background-position:-158px -118px}
.sx_6133ff{width:9px;height:5px;background-position:-66px -154px}
.sx_9d2216{height:17px;background-position:-90px -118px}
.sx_ccec56{background-position:-141px -118px}
.sx_44525f{height:15px;background-position:-68px -137px}
.sx_8027b6{height:10px;background-position:-170px -137px}
.sx_d29b59{width:13px;height:10px;background-position:-41px -154px}
.sx_059f50{width:12px;height:11px;background-position:-27px -171px}
.sx_161d05{width:15px;height:13px;background-position:-25px -154px}
.sx_2e6614{width:10px;background-position:-14px -154px}
.sx_e4db82{background-position:-107px -118px}
.sx_da1605{height:15px;background-position:-85px -137px}
.sx_41c159{width:13px;background-position:-0px -154px}
.sx_7e27de{background-position:-124px -118px}
.sx_88f7c6{height:14px;background-position:-119px -137px}
.sx_8bbf37{width:17px;height:17px;background-position:-55px -118px}
.sx_4b4623{height:15px;background-position:-51px -137px}
.sx_9d476d{background-position:-17px -137px}
.sx_1deeea{height:17px;background-position:-73px -118px}
.sx_6a26e0{width:11px;height:9px;background-position:-187px -137px}
.sx_e62bd7{background-position:-34px -137px}
.sx_42a1aa{height:10px;background-position:-136px -137px}
.sx_21ead2{width:10px;height:10px;background-position:-55px -154px}
.sx_12d4c6{width:1px;height:1px;background-position:-196px -27px}
.sx_e23ad2{width:12px;height:12px;background-position:-14px -171px}
.sx_f5875c{width:5px;height:3px;background-position:-191px -63px}
.sx_fcdfeb{width:190px;height:90px;background-position:-0px -27px}
.sp_e1j19n{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/y6/r/qIftc3q9-m1.png);background-repeat:no-repeat;display:inline-block;height:16px;width:16px}
.sx_84b4ac{background-position:-16px -0px}
.selected .sx_84b4ac{background-position:-0px -0px}
.sx_7716a5{background-position:-16px -17px}
.selected .sx_7716a5{background-position:-0px -17px}
.sx_39a806{background-position:-16px -34px}
.selected .sx_39a806{background-position:-0px -34px}
.sx_c76d0f{background-position:-16px -51px}
.selected .sx_c76d0f{background-position:-0px -51px}
.sx_d83bbe{background-position:-16px -68px}
.selected .sx_d83bbe{background-position:-0px -68px}
.sx_c6fb99{background-position:-0px -105px}
.sx_7179fe{background-position:-0px -122px}
.sx_8640b4{height:19px;background-position:-0px -85px}
.sx_4f8164{background-position:-0px -139px}
.sp_yeww8o{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yn/r/PU1D_ucYgNb.png);background-repeat:no-repeat;display:inline-block;height:14px;width:8px}
.sx_5adae8{background-position:-8px -49px}
.selected .sx_5adae8{background-position:-0px -49px}
.sx_ddb531{width:12px;background-position:-12px -0px}
.selected .sx_ddb531{background-position:-0px -0px}
.sx_bc3f20{width:11px;background-position:-11px -15px}
.selected .sx_bc3f20{background-position:-0px -15px}
.sx_23a95a{width:10px;height:10px;background-position:-0px -79px}
.sx_3ca9db{background-position:-8px -64px}
.selected .sx_3ca9db{background-position:-0px -64px}
.sx_a4bf4a{width:18px;height:18px;background-position:-0px -30px}

#bootloader_49LlI { height: 42px; }