
@-webkit-keyframes spinanimation { 0% {
	-webkit-transform: rotateY(0);
    }

    100% {
        -webkit-transform:rotateY(360deg);
    }
}
body {
	overflow: hidden;
	height: 600px;
	font-family: 'Rationale', cursive;
}


body.day .background {
    background-position: 0 -1000px;
}

body.night .background {
    background-position: 0 0px;
}
#footer {
	padding: 5px;
	position: fixed;
	bottom: 0px;
	left: 0px;
}

#logo {
	width: 149px;
	height: 128px;
	position: fixed;
	bottom: 10px;
	right: 10px;
	background-image: url(../images/gdd11_logo.png);
	background-repeat: no-repeat;

}

#toolbox {
	background-color: #e4e4e4;
	padding: 5px;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1000;
	border: 1px solid #FF3333;
	border-radius: 0px 0px 10px 1px;
	-moz-border-radius: 0px 0px 10px 1px;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 1px;
}

#toolbox details {
	z-index: 2;
	padding: 5px;
}

.shape-container {
	-webkit-transform-style: preserve-3d;
	
	border: 1px solid green;
	width: 220px;
	height: 200px;
	margin: 0 auto;
}

#shape.shape {
	position: relative;
	margin: 0 auto;
	-webkit-transform-style: preserve-3d;
	box-shadow: 20px 0 20px rgba(0, 0, 0, 0.8);
}

div#icosahedron.d3 {
	top: 160px;
	left: 0px;
}

div#icosahedron.plane {
	top: 160px;
	left: -500px;
}

#icosahedron {
	position: absolute;
	-webkit-transform-style: preserve-3d;
}

#container {
	-webkit-perspective: 800;
	-webkit-perspective-origin: 50% 30%;
	height: 100%;
        width: 100%;
	border: 1px solid #e4e4e4;
       
}
.background {
     background: url('../images/day-night-bg.png');
    
     background-repeat: repeat-x;
     -webkit-transition: background-position 3s ease-out;
     position:absolute;
     width:100%;
     height:600px;
     background-position: center;
     padding: 0;
     margin: 0;
      background-color: white;

}
.container { /* position: relative;
top: 160px;
margin: 0 auto;
width: 400px;
height: 400px;
border: 1px solid red; */
	
}

.container2 {
	-webkit-transform-style: preserve-3d;
	-webkit-animation: spinanimation 10s infinite linear;
	position: relative;
	top: 160px;
	margin: 0 auto;
	width: 200px;
}

summary {
	cursor: pointer;
}

div#icosahedron div {
	-webkit-backface-visibility: visible;
	position: absolute;
	width: 240px;
	height: 220px;
	-webkit-transition: all .4s;
}

.r {
	border: 1px solid #ff0000;
}

.g {
	border: 1px solid #00ff00;
}

.hd {
	display: none;
}

/* img:hover{
      -webkit-transform: translateZ(0px);
    }
*/
.a {
	-webkit-transform: ;
}

#p01.d3 {
	-webkit-transform: rotateY(0deg) rotateX(52.5deg) translateZ(140px);
}

#p02.d3 {
	-webkit-transform: rotateY(72deg) rotateX(52.5deg) translateZ(140px);
}

#p03.d3 {
	-webkit-transform: rotateY(144deg) rotateX(52.5deg) translateZ(140px);
}

#p04.d3 {
	-webkit-transform: rotateY(216deg) rotateX(52.5deg) translateZ(140px);
}

#p05.d3 {
	-webkit-transform: rotateY(288deg) rotateX(52.5deg) translateZ(140px);
}

#p06.d3 {
	-webkit-transform: rotateY(0deg) rotateX(11deg) translateZ(140px);
}

#p07.d3 {
	-webkit-transform: rotateY(72deg) rotateX(11deg) translateZ(140px);
}

#p08.d3 {
	-webkit-transform: rotateY(144deg) rotateX(11deg) translateZ(140px);
}

#p09.d3 {
	-webkit-transform: rotateY(216deg) rotateX(11deg) translateZ(140px);
}

#p10.d3 {
	-webkit-transform: rotateY(288deg) rotateX(11deg) translateZ(140px);
}

#p16.d3 {
	-webkit-transform: rotateY(36deg) rotateX(-11deg) translateZ(140px);
}

#p17.d3 {
	-webkit-transform: rotateY(108deg) rotateX(-11deg) translateZ(140px);
}

#p18.d3 {
	-webkit-transform: rotateY(180deg) rotateX(-11deg) translateZ(140px);
}

#p19.d3 {
	-webkit-transform: rotateY(252deg) rotateX(-11deg) translateZ(140px);
}

#p20.d3 {
	display: block;
	-webkit-transform: rotateY(324deg) rotateX(-11deg) translateZ(140px);
}

#p201.d3 {
	display: none;
}

#p202.d3 {
	display: none;
}

#p21.d3 {
	-webkit-transform: rotateY(34deg) rotateX(-52.6deg) translateZ(140px);
}

#p22.d3 {
	-webkit-transform: rotateY(108deg) rotateX(-52.6deg) translateZ(140px);
}

#p23.d3 {
	-webkit-transform: rotateY(180deg) rotateX(-52.6deg) translateZ(140px);
}

#p24.d3 {
	-webkit-transform: rotateY(252deg) rotateX(-52.6deg) translateZ(140px);
}

#p25.d3 {
	-webkit-transform: rotateY(324deg) rotateX(-52.6deg) translateZ(140px);
}

#p211.d3 {
	display: none;
}

#p212.d3 {
	display: none;
}

/*
+166
170, 260, 336px, 502px

47px

*/
#p01.plane {
	-webkit-transform: translateX(259px) translateY(-116px) rotateZ(57deg);
}

#p02.plane {
	-webkit-transform: translateX(356px) translateY(-65px);
}

#p03.plane {
	-webkit-transform: translateX(453px) translateY(-118px) rotateZ(-58deg);
}

#p04.plane {
	-webkit-transform: translateX(728px) translateY(-65px);
}

#p05.plane {
	-webkit-transform: translateX(914px) translateY(-65px);
}

#p06.plane {
	-webkit-transform: translateX(170px) translateY(47px);
}

#p07.plane {
	-webkit-transform: translateX(356px) translateY(47px);
}

#p08.plane {
	-webkit-transform: translateX(542px) translateY(47px);
}

#p09.plane {
	-webkit-transform: translateX(728px) translateY(47px);
}

#p10.plane {
	-webkit-transform: translateX(914px) translateY(47px);
}

#p16.plane {
	-webkit-transform: translateX(263px) translateY(103px);
}

#p17.plane {
	-webkit-transform: translateX(449px) translateY(103px);
}

#p18.plane {
	-webkit-transform: translateX(635px) translateY(103px);
}

#p19.plane {
	-webkit-transform: translateX(821px) translateY(103px);
}

#p20.plane {
	display: none;
	-webkit-transform: translateX(1007px) translateY(103px);
}

#p201.plane {
	-webkit-transform: translateX(1007px) translateY(103px);
}

#p202.plane {
	-webkit-transform: translateX(70px) translateY(209px) rotateZ(-57deg);
}

#p21.plane {
	display: none;
	-webkit-transform: translateX(253px) translateY(217px);
}

#p22.plane {
	-webkit-transform: translateX(449px) translateY(217px);
}

#p23.plane {
	-webkit-transform: translateX(635px) translateY(217px);
}

#p24.plane {
	-webkit-transform: translateX(733px) translateY(271px) rotateZ(-62deg);
}

#p25.plane {
	-webkit-transform: translateX(167px) translateY(267px) rotateZ(-57deg);
}

#p211.plane {
	-webkit-transform: translateX(263px) translateY(217px);
}

#p212.plane {
	-webkit-transform: translateX(354px) translateY(269px) rotateZ(-57deg);
}

.circle-mask2 {
	-webkit-mask-image: url(../mask.png);
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-size: 100% 100%;
	-webkit-transform: matrix3d(0.64, 0, 0.64, 0, 0, 0.83, 0, 0, -0.53, 0, 0.76, 0, 0, 0, 0, 1);
	-webkit-transform-style: preserve-3d;
	-webkit-transition-duration: 0.5s;
	-webkit-transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
}

.triangle-mask {
	mask: url("triangle#c1");
	-webkit-mask-box-image: url("../images/triangle.svg");
}

.triangle-mask-flipped {
	mask: url("triangle#c1");
	-webkit-mask-box-image: url("../images/triangle_flipped.svg");
}
/*
css for the info box german stars
*/
#humanInfo {
    border:1px solid black;width:300px;overflow:scroll;position:absolute;top:200px;right:100px;
}

/*
 css for the night stars
*/
.star {

    -webkit-transition: all .2s ease-in-out;
    position:absolute;
    /*background-image: url('himmel/nyan_cat_stars.gif');*/
}
.nyanStar {
    background: url('himmel/nyan_cat_stars.gif');
    width:400px;
    height:400px;
    -webkit-transition: all .2s ease-in-out;
    position:absolute;
}


/**
 css properties for the nyan flying cat

**/
@-webkit-keyframes nyanAnimation {
    0% {

    -webkit-transform: rotateY(360deg) ;
    }
    100% {
        -webkit-transform: rotateY(0deg) ;

    }
}

.nyanContainer {
    position: absolute;
    top: 160px;
    left: 0px;

    border:1px solid red;
}

#cube {
    -webkit-transform-style: preserve-3d;
    -webkit-animation: nyanAnimation 2s infinite linear;


    
    width: 200px;
    height: 200px;

}


#cube figure {
    width: 196px;
    height: 196px;
    display: block;
    position: absolute;
   
    line-height:196px;
    font-size:120px;
    color:white;
    top: 0px;
    margin:0px;

}



#cube .front  { -webkit-transform: rotateY(   180deg )  rotateX(-170deg ) translateZ( 180px ); }
#cube .front img { margin:0px;padding:0px;-webkit-transform: scaleY(-1);}
#cube {  }